.alert{
    border-radius: 4px;
    padding: 6px 16px;
    display: flex;
}

.icon{
    margin-right: 12px;
    padding: 7px 0;
    display: flex;
    align-items: center;
}

.txt{
    padding: 8px 0;
    min-width: 0;
    overflow: auto;
}

.error{
    background-color: var(--alert-error-background);
    color: var(--alert-error-color);
}

.error .icon{
    color: var(--alert-error-icon-color);
}