.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.7rem var(--gutter-x);
    background-color: var(--bar-background);
    border-color: var(--bar-border-color);
    border-width: 1px 0 0 0;
    border-style: solid;
}

.button{
    cursor: pointer;
    color: var(--elements-background);
}

.button:hover,
.button:active {
    color: var(--elements-background-hover);
}