.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bar-background);
    border-color: var(--bar-border-color);
    border-width: 0 0 1px 0;
    border-style: solid;
}

.topBarCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bar-background);
    border-color: var(--bar-border-color);
    border-width: 0 0 1px 0;
    border-style: solid;
}

.containerTitle{
    padding: 0.7rem 0;
}

.containerWrap{
    overflow-y: auto;
    flex-grow: 1;
}

.wrap{
    width: 100%;
    max-width: 600px;
    border-radius: var(--card-border-radius);
    padding: var(--gutter-y) var(--gutter-x);
    align-self: center;
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-background);
    margin: 1.5rem auto;
}

.prevArrow{
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem var(--gutter-x);
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .containerWrap{
        background-color: var(--card-background);
    }

    .wrap{
        max-width: none;
        border-radius: 0;
        margin: 0;
        box-shadow: none;
    }
}